{% extends '::base.html.twig' %}

{% block body %}
 <div class="content-grid">
        <div class="content-grid-info">
            <img src="{{ asset('images/post'~random('123')~'.jpg') }}" alt=""/>
            <img src="{{ asset(article.image.url) }}" alt=""/>
            <div class="post-info">
                <h4><a href="single.html">{{ article.title }}</a>  
                    {{ article.createDate | date("d/m/Y") }} / 27 Comments</h4>
                <p>{{ article.description }}</p>
                <a href="single.html"><span></span>READ MORE</a>

                {% for comment in article.commentList %}
                	<p>Content : {{ comment.content }} / author : {{ comment.author }} / date : {{ comment.createDate|date }}</p>
                {% endfor %}

            </div>
        </div>
 </div>

{{ form(comment_form) }}

{% endblock %}